PORT=4000
DB_STRING=<mongoUrl>
TOKEN=<encryptionKey>
EMAIL_USER=<emailAccount>
#EMAIL_PASS: if you are using a gmail account for email notifications, then create an app-specific password and paste it here. (your normal password wont work)
EMAIL_PASS=<emailPassword>
NODE_ENV=<dev/production>
CLIENT_DEV_URL=http://localhost:3000
CLIENT_PROD_URL=http://localhost:3000
#CRON_TIME: Time after which the app will clean the database with expired attributes
CRON_TIME=*/10 * * * *
